%iframe{  :data              => { :aa => "13203" },
          :src               => "//ad.a-ads.com/13203",
          :scrolling         => "no",
          :style             => "width:300px; height:280px; border:0px; padding:0;overflow:hidden",
          :allowtransparency => "true" }
%p
  %a(href='http://a-ads.com?partner=634') Advertise with Anonymous Ads
