%iframe{  :scrolling => "no",
          :style     => "border: 0; width: 300px; height: 250px;",
          :src       => "http://coinurl.com/get.php?id=3363" }
%p
  %a(href='https://coinurl.com/index.php?ref=mdszy') Advertise with CoinURL
